<div class="container">

    <h1>Natural Disaster</h1>
    <img src="/assets/images/nd.jpg" alt="Natural Disaster">
    
    <h2>Hurricane</h2>
    <p>Unlike other natural disasters, a hurricane is usually preceded by hours or days of fore notice and warning, allowing you to prepare.</p>
    
    <h3>Before the Hurricane</h3>
    <ul>
        <li>Stay informed. Pay attention to announcements from university administrators, and visit <a href="https://www.hurricanes.gov">www.hurricanes.gov</a> for hurricane information.</li>
        <li>Bring in all outdoor furniture, decorations, garbage cans and anything else that is not tied down.</li>
        <li>Suspend or shut down laboratory experiments. All chemicals used in an active experiment should be closed and returned to their normal storage location such as flammable storage cabinet, ventilated cabinet, refrigerator, or hazardous waste storage area.</li>
        <li>Shut down and unplug computers and sensitive equipment.
        </li>
        <li>In flood prone areas (basements), move valuable items and documents to table tops, away from windows, to prevent damage in the event of local flooding.
        </li>
        <li>Refresh your emergency kit with fresh batteries, flashlight, important medications, drinking water, and snacks.
        </li>
        <li>BE PREPARED to evacuate if instructed to do so. (The decision to evacuate from campus will be based upon the severity of the hurricane).
        </li>
        <li> IF INSTRUCTED to evacuate, see “EVACUATION” section of this guide.
        </li>
    </ul>
    
    <h3>During the Hurricane</h3>
    <ul>
        <li>Listen to the radio or TV for information, and visit <a href="https://www.tufts.edu">www.tufts.edu</a>.</li>
        <li>Avoid using the phone, except for serious emergencies.</li>
        <li>Stay indoors during the hurricane and away from windows and glass doors.
        </li>
        <li>Keep curtains and blinds closed. Do not be fooled if there is a lull; it could be the eye of the storm – winds will pick up again.
        </li>
        <li>AVOID being underneath heavier objects such as lights, wall hangings and other items, which may fall.
        </li>
        <li>Do not use matches, candles or lighters.
        </li>
        <li>Avoid elevators.
        </li>
        <li>REMAIN INSIDE until the hurricane has passed or cleared to leave.
        </li>
        <li>HELP DIRECT disabled people to a safe place, if necessary.
        </li>
    </ul>

    <h3>After the Hurricane</h3>
    <ul>
<li>STAY ALERT for extended rainfall even after the hurricane has ended.
</li>        
<li>MINIMIZE TRAVEL. Drive only if absolutely necessary and AVOID flooded roads and washed out bridges.
</li>
        <li>STAY OFF the streets. Go outdoors only if absolutely necessary and WATCH for fallen objects; downed electrical wires; and weakened walls, bridges, roads, and sidewalks.</li>
        <li>KEEP AWAY from loose or dangling power lines and report them immediately to the University Police.</li>
        <li>DO NOT ENTER any building that is deemed or looks UNSAFE.
        </li>
    </ul>
    
    <!-- Severe Thunderstorm or Tornado -->
    <h2>Severe Thunderstorm or Tornado</h2>
    <p>All lightning can be deadly. When you hear thunder or see lightning, GO INDOORS. In addition to potentially deadly lightning, a SEVERE THUNDERSTORM also has wind greater than 58 mph (50 knots), hail 1″ or larger, and/or a tornado.
<br>
        A WATCH means that conditions are favorable for the development of severe weather in the watch area. Pay attention to broadcasts, and prepare to take action.
   <br>     
        A WARNING is an URGENT announcement that hazardous weather is happening, or is imminent. Take immediate action to protect life and property!</p>
    
<!-- Indoors -->
<h3>Indoors</h3>
<ul>
  <li>STAY INDOORS, do not exit building or use elevators. You could be trapped in them if power is lost. Locate an interior room.</li>
  <li>HELP DIRECT disabled people to a safe place, if necessary.</li>
  <li>REMAIN INSIDE until 30 minutes after the last thunder.</li>
  <li>In the event of a TORNADO WARNING, or if a funnel cloud is reported:
    <ul>
      <li>GO directly to an enclosed, windowless area in the center of the building, corners or building support columns are best. Avoid the middle of interior walls.</li>
      <li>STAY AWAY from all windows and large glass objects.</li>
      <li>CROUCH DOWN and cover your head. Interior stairwells are usually good places to take shelter, and if not crowded, allow you to get to a lower level quickly.</li>
      <li>AVOID being underneath heavier objects such as lights, wall hangings, and other items, which may fall.</li>
      <li>REMAIN INSIDE until the tornado has passed or cleared to leave.</li>
      <li>Do not use matches or lighters, in case of leaking natural gas pipes or nearby fuel tanks.</li>
      <li>HELP DIRECT disabled people to a safe place, if necessary.</li>
      <li>IF INSTRUCTED to evacuate, see “EVACUATION” section of this guide.</li>
    </ul>
  </li>
</ul>

<!-- Outdoors -->
<h3>Outdoors</h3>
<ul>
  <li>MOVE AWAY from trees, buildings, walls, and power lines.</li>
  <li>SEEK the lowest possible ground, i.e. ditch, small trench. Lying flat in a ditch or low-lying area may be the only thing available. Note: Never enter an open trench where a cave-in or flooding may be possible.</li>
  <li>STAY AWAY from power lines and puddles with wires in them; they may be “live”.</li>
  <li>DO NOT USE matches or lighters, in case of leaking gas pipes or fuel tanks.</li>
  <li>REMAIN in position until “noise and high winds” have stopped.</li>
  <li>DO NOT ENTER any building that is deemed or looks UNSAFE.</li>
</ul>

<!-- Winter Storm and Extreme Cold -->
<h2>Winter Storm and Extreme Cold</h2>
<ul>
  <li>WALK CAREFULLY on snowy, icy walkways.</li>
  <li>KEEP DRY. Change wet clothing frequently to prevent a loss of body heat.</li>
  <li>BE AWARE of the symptoms of medical cold emergencies. See “MEDICAL EMERGENCY” section of this guide for information on first aid during cold emergencies.</li>
  <li>If outdoors, PREVENT medical cold emergencies by wearing warm, loose-fitting, lightweight clothing in several layers.</li>
  <li>MINIMIZE TRAVEL. Drive only if it is absolutely necessary. Travel in the day; don’t travel alone; keep others informed of your schedule; stay on main roads and avoid back road shortcuts. Let someone know travel destination, travel route, and expected time of arrival at travel destination.</li>
</ul>

<!-- Earthquake -->
<h2>Earthquake</h2>
<h3>Indoors</h3>
<ul>
  <li>DROP to the ground (before the earthquake drops you!)</li>
  <li>TAKE COVER by getting under a sturdy desk or table, and</li>
  <li>HOLD ON to it until the shaking stops.</li>
  <li>In modern buildings, falling down or being struck by falling objects causes most earthquake-related injuries. DROP, COVER, and HOLD ON immediately.</li>
  <li>STAY INDOORS, do not exit the building or use elevators.</li>
  <li>STAY AWAY from all windows and large glass objects.</li>
  <li>AVOID being underneath heavier objects such as lights, wall hangings, and other items which may fall.</li>
  <li>HELP DIRECT disabled people to a safe place, if necessary.</li>
  <li>Wheelchair-bound individuals should lock brakes.</li>
</ul>

<h3>Outdoors</h3>
<ul>
  <li>Move to an area AWAY FROM trees, power lines, buildings, and walls.</li>
  <li>DROP TO KNEES and get into a fetal position, close your eyes and cross your arms over the back of your neck for protection.</li>
  <li>REMAIN in position until shaking has stopped.</li>
</ul>
<h2>When aftershocks stop:</h2>
<ul>
      <li>DO NOT USE cell phones, EXCEPT to report serious injuries.</li>
      <li>ASSIST in the building evacuation of persons with disabilities if safe to do so.</li>
      <li>TUNE radios to an emergency broadcast or local radio stations for news updates and instructions.</li>
      <li>BE PREPARED to evacuate if instructed to do so. (The decision to evacuate from campus will be based upon the severity of the earthquake and damage to buildings).</li>
      <li>The university will provide instructions for immediate actions by available means.</li>
      <li>IF INSTRUCTED to evacuate, see “EVACUATION” section of this guide.</li>
      <li>DO NOT ENTER any building that is deemed or looks UNSAFE.</li>
    </ul>




</div>