
        <div class="container mt-3 mb-5">
            <h1>Disaster Instructions</h1>
            
            <img src="/assets/images/ss.png" alt="Natural Disaster">
            <p class="lead">Welcome to our Disaster Instructions hub! Being prepared is key when it comes to handling emergencies effectively. Explore the following resources to learn about disaster preparedness, essential tips to safeguard yourself and your community during natural disasters, and guidance on what to do in critical situations. Stay informed and stay safe!</p>


            <div class="d-flex justify-content-around mt-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Get Prepared</h5>
                  <p class="card-text">Learn essential tips and steps to get yourself prepared for potential disasters.</p>
                  <a [routerLink]="['/get-prepared']" class="btn btn-primary btn-custom" style="background-color: #00a79d;border:#00a79d;">Go to Get Prepared</a>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Disaster Preparedness Tips</h5>
                  <p class="card-text">Explore useful tips and strategies to stay safe and prepared during disasters.</p>
                  <a [routerLink]="['/disaster-prep-tips']" class="btn btn-primary btn-custom" style="background-color: #00a79d;border:#00a79d;">Explore Tips</a>
                </div>
              </div>
          
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Natural Disaster</h5>
                  <p class="card-text">Understand the nature of different disasters and how to mitigate their impact.</p>
                  <a [routerLink]="['/natural-disaster']" class="btn btn-primary btn-custom" style="background-color: #00a79d; border:#00a79d;">View Details</a>
                </div>
              </div>
            </div>
          </div>
          
      
    
      <!-- Other content of the Disaster Instructions page -->

    