<div class="container">
    <h1>Disaster Preparedness Tips</h1>
    <img src="/assets/images/tips.jpg" alt="Natural Disaster">

    
    <h2>Prepare to Be Self-Sufficient</h2>
    <p>
      Prepare to be self-sufficient for at least three days by putting together an emergency kit, including:
      non-perishable food, water, a flashlight, a portable, battery-operated radio or television, batteries, medicines, anti-bacterial hand wipes or gel, first aid kit, money, seasonal clothing, and sanitation supplies.
    </p>
  
    <h2>Before a Disaster</h2>
    <ul>
      <li>Conduct practice drills so you and your family know the safe locations in your home for each type of emergency.</li>
      <li>Decide how and where your family will reunite if separated.</li>
      <li>Choose an out-of-state friend or relative that separated family members can call to report their whereabouts and conditions.</li>
      <li>Learn first aid and CPR from your local Red Cross chapter or other community organizations.</li>
      <li>Learn how to shut off gas, water, and electricity in case the lines are damaged.</li>
      <li>Make sure insurance coverage is up-to-date and reflects present property values. Check on flood insurance.</li>
      <li>Compile an inventory of home contents. Take pictures and/or video. Store in a safe place.</li>
      <li>Check chimneys, roofs, walls, and foundations for stability. Make sure your house is bolted to its foundation.</li>
      <li>Secure your water heater and major appliances, as well as tall, heavy furniture, hanging plants, picture frames, and mirrors (especially those over beds).</li>
      <li>Make arrangements for pets.</li>
      <li>Organize your neighborhood to be self-sufficient after a disaster.</li>
    </ul>
    
    <h2>During a Disaster</h2>
    <p>
      <strong>If You Are Evacuated:</strong>
    </p>
    <ul>
<li>Follow directions of local officials. Carry your disaster supplies kit with you.</li>
<li>Unplug appliances; turn off electricity, gas, and main water valve.  (Safety note: do not attempt to re-light the gas pilot. Call the utility company.)</li>
<li>If time permits, elevate or move furniture to upper floors.</li>
<li>Tell someone outside of storm area where you are going.</li>
<li>Lock home and leave.</li>
    </ul>
  
    <p>
      <strong>If You Stay at Home:</strong>
    </p>
    <ul>
      <li>Listen constantly to a battery-powered radio or television.</li>
      <li>Stay inside away from windows, skylights and glass doors.</li>
      <li>If power is lost, turn off major appliances and keep refrigerators and freezers closed.</li>
    </ul>
    
    <h2>After a Disaster</h2>
    <p>Unless there is an immediate life-threatening emergency, do not attempt to use the telephone. Be sure to: </p>
    <ul>
        <li>Stay calm. Check on neighbors, especially elderly or disabled.</li>
        <li>Turn on your portable radio or television for instructions and news reports. For your own safety, cooperate fully with public safety officials and instructions.</li>
        <li>Use a flashlight to cautiously check for gas and water leaks, broken electrical wiring, or sewage lines. If there is damage, turn the utility off at the source. Immediately report gas leaks to your utility company. Check for downed power lines; warn others to stay away.</li>
        <li>Check your home for cracks and damage, including the roof, chimneys, and foundation.</li>
        <li>Do not use your vehicle unless there is an emergency. Keep the streets clear for emergency vehicles. If you must drive, watch for downed power lines, flooded streets and highways, and undermined roads.</li>
        <li>Take pictures of the damage, both house and contents, for insurance claims.</li>
        <li>When electricity is lost for several hours or days, frozen and refrigerated food may not be safe to eat. Do not refreeze thawed food. Throw away all food that has been under floodwaters, except canned food, but wash and sanitize the cans before opening. All food that cannot be saved should be double-bagged for normal trash disposal or buried at least 2-feet deep.</li>
        <li>Conserve water if your septic system is flooded.</li>
        <li>If your system lost pressure, boil water for 3 minutes before consuming.</li>
        <li>In warm weather, empty water out of birdbaths, tires, flower pots, and other containers to limit mosquito larvae growth.</li>
      </ul>
      
  
    <h2>Things You Need</h2>
    <ol>
        <li>
          <strong>Water</strong> - You need clean safe water to drink. Store 1 gallon per day for each person in your home for drinking and cooking. Experts say it is best to plan for three days. You can buy bottled water from the grocery store or bottle it yourself. If you bottle it yourself, choose a clean washed container like a soda bottle. Add four drops bleach (sodium hypochlorite) per quart of water. Don’t use the scented bleaches. You may also need water to flush the toilet if your home has a well with an electric pump. If you have any warning time before the power goes off, run your bathtub and your washing machine full of water for flushing the toilet. To flush the toilet when the power is off, just remove the tank lid and fill the tank with water. Now flush and the tank will empty as the water goes out of the bowel. Fill the tank back up for the next trip.
        </li>
        <li>
          <strong>Food</strong> - You will need food that will not spoil or go bad if it is not kept cold. Have several days worth of canned foods on hand that could be eaten without heating if need be. Keep some foods that will keep for several days without heat or cold. Have on hand foods like peanut butter, crackers, fruit, vegetables, bread, and cereal. Food in your refrigerator and freezer will keep for a while depending on many factors. Keep the door closed as much as possible. Remember that you can cook on an outdoor grill if the weather is safe but you must do it outdoors.
        </li>
        <li>
          <strong>Shelter</strong> - Staying dry and warm is most important in the case of winter storms. If your home has a safe fireplace, you have a good source of warmth for your family. Keep a stack of dry firewood in preparation for storm-related power failure. Gas logs will also work without power. Keep warm by dressing in layers. Wrap up in blankets for sleeping or sitting still. If you get wet, get dry as soon as possible. Make sure that your feet and hands stay warm and dry and check the hands and feet of children and older folks.
        </li>
        <li>
          <strong>Transportation</strong> - In case of emergency, you need to be able to get to help, or get a message to help so that they can get you. If it is safe to drive your car, help is available at your community fire department. A Deputy Sheriff will be stationed at fire departments when communications lines are down. If you have to walk to help, remember to take care of yourself so you don’t become the victim instead of the rescuer. Dress in layers, take water and food, and take the safest route even if it may take longer.
        </li>
        <li>
          <strong>Radio</strong> - Most radio stations will broadcast even if your home power is off. Keep a battery powered radio available with extra batteries to receive emergency information.
        </li>
      </ol>
      
  </div>
  