<div class="main">
    <div class="container">
      <h1>Get Prepared</h1>
    <img src="/assets/images/gp.jpg" alt="Natural Disaster">

      <h2>1. Get a Kit</h2>
      <p>Have emergency supplies that will allow you and your family to survive for at least three days in the event an emergency happens. Here is a general list of supplies for emergencies and natural disasters:</p>
      <ul>
        <li>Flashlight with extra batteries.</li>
        <li>Portable, battery-powered radio for receiving emergency communications.</li>
        <li>Waterproof matches, and either long-burning candles or a kerosene-type lamp with extra fuel, all properly stored.</li>
        <li>Fire extinguisher, ABC or dry-chemical type for all classes of fires. Check the expiration date and be sure you practice and know how to use it.</li>
        <li>Escape Rope ladder to hold your weight if you need to exit upper floors of your home to ground level, and some additional length of rope for multipurpose use.</li>
        <li>First aid instruction book.</li>
        <li>Blankets and sheets. These can be used for warmth, for splints, and for transport of injured persons.</li>
        <li>First aid supplies.</li>
        <li>Learn how to shut off gas, water and electricity in case the lines are damaged.</li>
        <li>Conduct practice drills.</li>
        <li>Choose an out-of-state friend or relative that separated family members can call to report their whereabouts and conditions.</li>
        <li>Make arrangements for pets.</li>
        <li>Compile an inventory of home contents.  Take pictures and/or video.  Store in safe place</li>
      </ul>

      <h2>2. Make a Plan</h2>
      <p>Plan in advance what you and your family will do in an emergency. Your plan should include communications, sheltering-in-place, and evacuation.</p>
      <p>Consider what would happen if a parent or another family member were not at home during an emergency.  You never know when a disaster will happen, and you don’t know where you will be when a disaster does strike.  This may include having a prearranged meeting place, a code word, or a relative’s phone number.</p>


      <h2>3. Be Informed</h2>
      <p>Learn about natural disasters and potential terrorist threats and about the emergency plans that have been established in your area.</p>
      <p>Remember, the best thing you can do during an emergency is listen to messages from your local emergency managers, broadcast on radio or television, who will recommend ways to protect yourself and your family.</p>


      <h2>4. Get Involved</h2>
      <p>After preparing yourself and your family for possible emergencies, take the next step: get training in first aid and emergency response and get involved in preparing your community.</p>
      <p>The Community Emergency Response Training (CERT) classes are very good for emergency preparation.  Neighbors can participate in emergency training together to share their skills.</p>

    </div>
  </div>