body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    margin-top: 30px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  ul {
    list-style-type:circle;
    padding: 0;
  }

  ul li {
    padding: 5px 0;
  }

  a {
    color: #00a79d;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }