body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  main {
    display: flex;
    justify-content: space-between;
  }
  
  section {
    flex: 0 0 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .primary-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .notifications ul {
    list-style: none;
    padding: 0;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  
  img{
    background-image: linear-gradient(rgba(144, 79, 0, 0.5),rgba(8, 26, 116, 0.5)), url("src/assets/images/img.jpg");

    /* Set a specific height */
    height: 60vh;
    width: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }