<footer class="site-footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h6>About</h6>
          <p class="text-justify">CalamityCare is committed to providing immediate aid and support during natural disasters. Our mission is to build resilience and restore communities affected by these calamities.
            <br>
             We offer resources, guides, and assistance to help individuals and communities prepare and recover.</p>
        </div>
  
        <div class="col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a routerLink="/instructions">Instructions</a></li>
            <li><a routerLink="/map">Map</a></li>
          </ul>
        </div>
  
        <div class="col-md-3">

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
            <a href="">CalamityCare</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>
  