  <div>
    <div class="hero">
      <div class="hero-text">
        <h1>Welcome to CalamityCare</h1>
        <p >Providing support and relief during nature's toughest times.
          A website for each community to manage donations, organize volunteers, and meet the needs of residents.
        </p>
        <a href="#services" class="btn btn-outline">Explore our services</a>
      </div>
   </div>
   <br>
   <br>
   <div id="about-us" class="container my-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="d-flex align-items-start">
          <img src="/assets/images/sc.jpg" alt="Calamity Image" class="calamity-image mr-3 mb-3">
          <div>
            <p class="about">
              CalamityCare is a comprehensive platform designed to empower individuals and communities in effectively managing and responding to various calamities and natural disasters. Offering a range of essential tools and resources, CalamityCare aims to foster preparedness, safety, and resilience in the face of emergencies.
            </p>
          </div>
           
        </div>
      </div>
    </div>
  </div>
  
  

   <div class="cntr mt-5">
     <h4 style="color: #002741;">Discover how you can contribute or seek assistance. Navigate through our services to make a difference.</h4>
    </div>

    <br>
 <br>
<div class="container" id="services">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    <div class="col mb-3">
      <div class="card h-100">
        <img src="/assets/images/volunteering.png" class="card-img-top icon-sm" alt="Volunteer Icon">
        <div class="card-body">
          <h5 class="card-title mb-3" style="color: #002741;">Volunteer</h5>
          <p class="card-text text-muted">
            Contribute to our cause by joining our volunteer team and making an impact in disaster-struck areas.
          </p>
          <a href="#" class="btn btn-outline-light ">Get Involved</a>
        </div>
      </div>
    </div>

  <div class="col mb-3">
    <div class="card h-100">
      <img src="/assets/images/help.png" class="card-img-top icon-sm" alt="Get Help Icon">
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #002741;">Get Help</h5>
        <p class="card-text text-muted">Access our assistance services to get immediate aid and support during tough times.</p>
        <a routerLink="/form" class="btn btn-outline-light ">Discover</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-3">
    <div class="card h-100">
      <img src="/assets/images/instructions.png" class="card-img-top icon-sm" alt="Get Instructions Icon">
      <div class="card-body">
        <h5 class="card-title mb-3 " style="color: #002741;">Get Instructions</h5>
        <p class="card-text text-muted">Access our resources and guidelines for handling disasters and emergencies effectively.</p>
        <a routerLink="/instructions" class="btn btn-outline-light ">Explore</a>
      </div>
    </div>
  </div>

  <div class="col mb-3">
    <div class="card h-100">
      <img src="/assets/images/map.png" class="card-img-top icon-sm" alt="Live Map Icon">
      <div class="card-body">
        <h5 class="card-title mb-3" style="color: #002741;">Live Map</h5>
        <p class="card-text text-muted">Explore our interactive map to track and visualize ongoing disaster situations globally.</p>
        <a routerLink="/map" class="btn btn-outline-light ">View Map</a>
      </div>
    </div>
  </div>
  
  
</div>
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p class="about">
        CalamityCare provides vital information on disaster preparedness, offering detailed guidelines, safety protocols, and actionable steps tailored to different calamities. It equips users with real-time updates, interactive maps, and alerts related to ongoing disasters, helping individuals make informed decisions during critical situations.
      </p>
      <p class="about">
        The platform fosters community engagement by facilitating communication and collaboration among users, enabling them to share experiences, resources, and support in times of crisis. CalamityCare strives to build a network of prepared and informed individuals who can collectively contribute to enhancing disaster resilience and response within their communities.
      </p>
      

</div>
</div>
</div>
</div>

  </div>
